APP_NAME=CloudSIEM
APP_ENV=development
APP_DEBUG=true

API_HOST=0.0.0.0
API_PORT=8000

DATABASE_URL=postgresql+psycopg2://your_username:your_password@localhost:5432/cloudsiem

CLOUDSIEM_TOKEN=supersecretkey
TOKEN_EXPIRE_MINUTES=60